body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
#title {
  background-color: #ff4c68;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
h3 {
  font-weight: 900;
  font-size: 1.5rem;
}

p {
  font-weight: 400;
  color: #8f8f8f;
}
h2 {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.5;
}
.navbar-brand {
  font-family: "ubuntu", sans-serif;
  font-size: 2.25rem;
  font-weight: 500;
}
.navbar {
  padding: 0px 0px 50px;
}
.nav-item {
  margin: 0px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}
.container-fluid {
  padding: 3% 15%;
}

.btn {
  margin: 30px 10px;
}

.image {
  width: 60%;
  transform: rotate(25deg);
  position: relative;
}

/* Features */

#features {
  padding: 12%;
}

.feature-items {
  text-align: center;
}
.icon {
  padding-bottom: 20px;
}

.icon {
  color: #ef8172;
}
.icon:hover {
  color: #ff4c68;
}

/* testimonial */
#testimonials {
  background-color: #ef8172;

  text-align: center;
  color: #fff;
}
#testimonials h2 {
  padding: 0% 10%;
}
.carousel-item {
  padding: 7% 15%;
}
.pebble-img {
  border-radius: 100%;
  width: 7%;
  margin: 1%;
}
/* Press */

#press {
  background-color: #ef8172;
  padding: 5% 2%;
}
.company {
  width: 15%;
  margin: 1% 4%;
}

/* Pricing */

.prices {
  text-align: center;
}
.price-btn {
  width: 100%;
}
/* Call to Action  */
#cta {
  background-color: #ff4c68;
padding: 5%;
  text-align: center;
  color: #fff;
  
}
#cta h3 {
  font-size: 2.5rem;
  padding: 4% 25%;
}
/* footer */
#footer {
  text-align: center;
  padding: 5%;
}

#footer i {
  margin: 1rem 0.5rem;
}
@media (max-width:991px) {
  #title{
    text-align: center;
  }
  .image {
    width: 60%;
    transform: rotate(0);
  }

  
}